// Colors
$green: #40DDB6;
$blue: #6B78E5;
$black: #37393F;
$gray: #7D7D7D;
$cream: #F4F4F4;
$white: #FFFFFF;

// Fonts
$cabin: 'Cabin', sans-serif;
$inter: 'Inter', sans-serif;
$poppins: 'Poppins', sans-serif;


