// Colors
$green: #40DDB6;
$blue: #6B78E5;
$black: #37393F;
$gray: #7D7D7D;
$white: #F4F4F4;

// Fonts
$cabin: 'Cabin', sans-serif;
$inter: 'Inter', sans-serif;
$poppins: 'Poppins', sans-serif;

// Typography
h1 {
  font-size: 60px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 35px;
}
h4 {
  font-size: 30px;
}
h5 {
  font-size: 25px;
}
h6 {
  font-size: 22px;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}
